#header__menu{
    position: relative;
    margin: auto 3em;

}

.menu_icon{
    font-size: 3em;
    color: var(--white-color);
}

.menu_icon:hover{   
    color: var(--border-color);
}

#header__menu .function{
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
    align-items: center;
    width: 200px;
    height: 5em;
    top: 2.2em;
    right: -1em;
}

#header__menu:hover .function{
    display: block;
}

.function .item{
    display: block;
    background-color: var(--white-color);
    padding-top: 0.66em;
    height: 2.5em;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 2.2em;
    color: var(--text-color);
    border: 1px solid rgb(207, 207, 207);
}

.function .button{
    background-color: var(--white-color);
    border: none;
}

.function .item1{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.function .item2{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
}

.function{
    animation: rotateMenu 250ms ease-in-out forwards;
    transform-origin: top center;
}
    
@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }
    /* 70% {
        transform: rotateX(20deg);
    } */
    100% {
        transform: rotateX(0deg);
    }
}

.function .item1:hover{
    background-color: #f6f8fc;
}

.function .item1:hover .button{
    background: #f6f8fc;
}

.function .item2:hover{
    background-color: #f6f8fc;
}

.function .item2:hover .button{
    background: #f6f8fc;
}
